{% extends 'layout.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    {{ block('page') }}
    {{ block('_disqus') }}
{% endblock %}

{% block page %}
    {% if page.youTubeId %}
        <iframe width="100%" height="275" src="https://www.youtube.com/embed/{{ page.youTubeId }}?rel=0" frameborder="0" allowfullscreen></iframe>
    {% endif %}
    <div>
        <a href="{{ page.audioURL }}">Скачать mp3</a> / <a href="https://drive.google.com/open?id=0Bx5NE2fFyuesbWR3NmdyLXVjZGs">Весь mp3-архив</a>
    </div>
    {{ page.content|raw }}
    <div>
        <u>Опубликовано</u>: {{ page.publishedAt|date('d.m.Y') }}
    </div>
    {% if page.tags|length > 0 %}
        <div>
            <u>Теги</u>: {% for tag in page.tags %}{{ tag.name|raw }}{% if not loop.last %}, {% endif %}{% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block page_teaser %}
    <div style="padding-bottom: 25px;">
        <div><h4><a href="{{ page.path }}">{{ page.title }}</a></h4></div>
        <div><u>Опубликовано</u>: {{ page.publishedAt|date('d.m.Y') }}</div>
        {% if page.tags|length > 0 %}
            <div>
                <u>Теги</u>: {% for tag in page.tags %}{{ tag.name|raw }}{% if not loop.last %}, {% endif %}{% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block _disqus %}
    <br/>
    <br/>
    <br/>
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = 'http://podcast.ostretsov.ru{{ page.path }}';  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '{{ page.path }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://php-podkast.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}